<a href="https://colab.research.google.com/github/Kyle5424/Predict_Product_Sales/blob/main/Predict_Product_Sale.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd                                     
import numpy as np                    
from scipy import optimize, stats        
import seaborn as sns

# algorithmic library
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn import metrics
from sklearn.model_selection import train_test_split, KFold
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import mean_squared_error

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_train = pd.read_csv("/content/drive/My Drive/KKDL/sales_train.csv")

In [ ]:
df_test = pd.read_csv('/content/drive/My Drive/KKDL/test.csv')

In [ ]:
#df_train.dtypes
df_train.isnull().sum()
df_train.drop(['date_block_num'],axis=1,inplace=True)

In [ ]:
df_train['date'] = pd.to_datetime(df_train['date'], dayfirst=True)
df_train['date'] = df_train['date'].apply(lambda x: x.strftime('%Y-%m'))
df_train.head()

      date  shop_id  item_id  item_price  item_cnt_day
0  2013-01       59    22154      999.00           1.0
1  2013-01       25     2552      899.00           1.0
2  2013-01       25     2552      899.00          -1.0
3  2013-01       25     2554     1709.05           1.0
4  2013-01       25     2555     1099.00           1.0

In [ ]:
df_train.drop(['item_price'], axis=1, inplace=True)
df_train.head()

      date  shop_id  item_id  item_cnt_day
0  2013-01       59    22154           1.0
1  2013-01       25     2552           1.0
2  2013-01       25     2552          -1.0
3  2013-01       25     2554           1.0
4  2013-01       25     2555           1.0

In [ ]:
df = df_train.groupby(['date','shop_id','item_id']).sum()
df.head()

                         item_cnt_day
date    shop_id item_id
2013-01 0       32                6.0
                33                3.0
                35                1.0
                43                1.0
                51                2.0

In [ ]:
df = df.pivot_table(index=['shop_id','item_id'], columns='date', values='item_cnt_day', fill_value=0)
df.reset_index(inplace=True)
df.head()

date  shop_id  item_id  2013-01  2013-02  ...  2015-07  2015-08  2015-09  2015-10
0           0       30        0       31  ...        0        0        0        0
1           0       31        0       11  ...        0        0        0        0
2           0       32        6       10  ...        0        0        0        0
3           0       33        3        3  ...        0        0        0        0
4           0       35        1       14  ...        0        0        0        0

[5 rows x 36 columns]

In [ ]:
df_test = pd.merge(df_test, df, on=['shop_id','item_id'], how='left')
df_test.drop(['ID', '2013-01'], axis=1, inplace=True)
df_test.head()

   shop_id  item_id  2013-02  2013-03  ...  2015-07  2015-08  2015-09  2015-10
0        5     5037      0.0      0.0  ...      1.0      3.0      1.0      0.0
1        5     5320      NaN      NaN  ...      NaN      NaN      NaN      NaN
2        5     5233      0.0      0.0  ...      0.0      1.0      3.0      1.0
3        5     5232      0.0      0.0  ...      0.0      1.0      0.0      0.0
4        5     5268      NaN      NaN  ...      NaN      NaN      NaN      NaN

[5 rows x 35 columns]

In [ ]:
df_test = df_test.fillna(0)
df_test.head()

   shop_id  item_id  2013-02  2013-03  ...  2015-07  2015-08  2015-09  2015-10
0        5     5037      0.0      0.0  ...      1.0      3.0      1.0      0.0
1        5     5320      0.0      0.0  ...      0.0      0.0      0.0      0.0
2        5     5233      0.0      0.0  ...      0.0      1.0      3.0      1.0
3        5     5232      0.0      0.0  ...      0.0      1.0      0.0      0.0
4        5     5268      0.0      0.0  ...      0.0      0.0      0.0      0.0

[5 rows x 35 columns]

In [ ]:
Y_train = df['2015-10'].values
X_train = df.drop(['2015-10'], axis = 1)
X_test=df_test
print(X_train.shape, Y_train.shape)
print(X_test.shape)

(424124, 35) (424124,)
(214200, 35)

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X_train,Y_train,test_size=0.2,random_state=4)
print ('Train set:', X_train.shape,  Y_train.shape)
print ('Test set:', X_test.shape,  Y_test.shape)

Train set: (339299, 35) (339299,)
Test set: (84825, 35) (84825,)

In [ ]:
LR = LinearRegression()
LR.fit(X_train,Y_train)
print('Train set mse:', mean_squared_error(Y_train, LR.predict(X_train)))
print('Test set mse:', mean_squared_error(Y_test, LR.predict(X_test)))
print('Test set score:', LR.score(X_train,Y_train))

Train set mse: 10.858441769616823
Test set mse: 5.923946900930398
Test set score: 0.44407831810469345

In [ ]:
prediction = LR.predict(X_test)

In [ ]:
prediction=list(map(round, prediction))
prediction

In [ ]:
RFR = RandomForestRegressor(n_estimators=100)
RFR.fit(X_train, Y_train)
print('Train set mse:', mean_squared_error(Y_train, LR.predict(X_train)))
print('Test set mse:', mean_squared_error(Y_test, LR.predict(X_test)))
print('Test set score:', LR.score(X_train,Y_train))

Train set mse: 10.858441769616823
Test set mse: 5.923946900930398
Test set score: 0.44407831810469345

In [ ]:
GBR = GradientBoostingRegressor(n_estimators = 50 , max_depth = 3)
GBR.fit(X_train,Y_train)
print('Train set mse:', mean_squared_error(Y_train, LR.predict(X_train)))
print('Test set mse:', mean_squared_error(Y_test, LR.predict(X_test)))
print('Test set score:', LR.score(X_train,Y_train))

Train set mse: 10.858441769616823
Test set mse: 5.923946900930398
Test set score: 0.44407831810469345

In [ ]:
submission=pd.read_csv("/content/drive/My Drive/KKDL/submission.csv")
print(submission.shape)
print(len(prediction))
submission['item_cnt_month']=prediction
submission.to_csv('/content/drive/My Drive/KKDL/prediction.csv', index=False)

(214200, 2)
214200